<% layout("/layouts/boilerplate"); %>

    <body>
        <div id="edit-form-container">
            <h3 id="edit-heading">Edit Listing</h3>
            <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
                <input type="hidden" name="_method" value="PUT">
                <div class="edit-form-div">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="listing[title]" value="<%= listing.title %>"
                        placeholder="Enter title" id="title" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="edit-form-div">
                    <label for="description">Description</label>    
                    <textarea class="form-control" name="listing[description]" id="description" cols="5" rows="2"
                        placeholder="Enter description" required><%- listing.description %></textarea>
                    <div class="invalid-feedback">Plese enter a short description</div>
                </div>
                <div class="edit-form-div">
                    <label for="image">Image</label>
                    <input class="form-control" type="text" value="<%= listing.image %>" name="listing[image]"
                        placeholder="Enter image URL" id="image">
                </div>
                <div class="edit-form-div">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" value="<%= listing.price %>" name="listing[price]"
                        placeholder="Enter price" id="price" required>
                    <div class="invalid-feedback">Please enter a valid price</div>
                </div>
                <div class="edit-form-div">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" value="<%= listing.location %>" name="listing[location]"
                        placeholder="Enter location" id="location" required>
                </div>
                <div class="edit-form-div">
                    <label for="country">Country</label>
                    <input class="form-control" type="text" value="<%= listing.country %>" name="listing[country]"
                        placeholder="Enter country" id="country" required>
                </div>
                <div id="edit-form-btn-div">
                    <button type="submit" class="btn btn-outline-primary" id="edit-form-btn">Update</button>
                </div>
            </form>
        </div>
    </body>